body {
    background-color: white;
    color: black;
    box-sizing: border-box;
    text-align: center;
}

#street-view {
    height: 92vh;
    width: 100%;
    position: relative;
    z-index: 1;
}

.gm-iv-address div {
    visibility: hidden;
    display: none;
}

#map {
    height: 65vh;
    width: 80%;
    position: absolute;
    bottom: 8vh;
    left: 10%;
    z-index: 2;
}

#game-page {
    background-color: #eee;
}

.guess-div {
    display: inline-block;
}

#guess {
    margin:auto auto;
    text-align: center;
}

.category-selection {
    height: 30vh;
    width: 50%;
    display: inline-block;
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
    border: solid 2px white;
    color: white;
}

.category-selection-child {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.category-selection-child:hover {
    background-color: lightblue;
    opacity: .5;
    cursor: pointer;
}

.category-text {
    font-weight: bold;
    font-size: 18px;
    text-shadow: 1px 1px gray;
}

.category-boxes {
    width: 100%;
}

#instructions {
    margin-top: 15vh;
}

.jumbo {
    margin: 0;
    text-shadow: 1px 1px gray;
    height: 32vh;
}

#play-game {
    margin-top: 1vh;
}

.button {
    text-shadow: 1px 1px gray;
    margin-left: 2px;
    margin-right: 2px;
}

#Historical-Landmarks {
    background-image: url('http://www.english-heritage.org.uk/remote/www.english-heritage.org.uk/content/properties/stonehenge/portico/2670999/stonehenge-sunrise?w=640&mode=none&scale=downscale&quality=60&anchor=middlecenter');
}

#International {
    background-image: url('http://hbu.h-cdn.co/assets/15/41/768x514/gallery-1444338501-eiffel-tower-at-night.jpg');
}

#United-States {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/0/0c/GoldenGateBridge-001.jpg');
}

#Natural-Wonders{
    background-image: url('http://www.maverickairlines.com/images/plane-gc-opt.jpg');
}

.result-and-key {
    text-align: center;
}

#resultMap {
    height: 50vh;
    width: 70%;
    margin-left: 15%;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

#result-writing {
    margin-bottom: 4vh;
}

#result-writing-header {
    text-shadow: 1px 1px gray;
}

.bold {
    font-weight: bold;
}

#scoreboard-head {
    background-color: lightblue;
    color: white;
    text-shadow: 1px 1px gray;
}

#final-page {
    margin: 0 20%;
}

#final-page h1 {
    text-shadow: 1px 1px gray;
}

#final-page h4 {
    margin-top: 6vh;
    margin-bottom: 6vh;
}

#guess-button {
    position: relative;
    bottom: 5.5vh;
    text-shadow: none;
    visibility: visible;
}

#guess-map {
    visibility: hidden;
}

#continue-button {
    opacity: 0;
}

#continue-button:hover {
    cursor: default;
}

#submit-name:hover {
    cursor: default;
}

#new-score-header {
    background-color: lightblue;
}

#guess-buttons {
    margin-top: 1vh;
}

#instructions-header {
    background-color: lightblue;
}

#alert {
    height: 12vh;
    width: 60%;
    border: 2px solid black;
    position: relative;
    z-index: 2;
    left: 45%;
    visibility: hidden;
    background-color: white;
}